.box {
  position: relative;
  width: 90%;
  overflow: hidden;
  background: #ffffff;
  border: solid 1px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 4px 4px 2px #888888;
}

.box:before {
  display: block;
  content: "";
  padding-top: 100%;
}

.box-half-height {
  @extend .box;
}

.box-half-height:before {
  display: block;
  content: "";
  padding-top: 50%;
}

.box-content {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: #eeeeee;
}

.box-lower-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.box-upper-right {
  position: absolute;
  top: 1em;
  right: 1em;
}

.box-lower-left {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.box-upper-left {
  position: absolute;
  top: 1em;
  left: 1em;
}

.box-fill-back {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@media (max-width: 30em) {
  .mobile-hidden {
    display:none !important;
  }
}