.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-addbutton: {
  margin: 10,
}

.App-iconHover: {
  margin: 10,
  '&:hover': {
    color: #557722,
  }
}

.modal {
  position: absolute;
  top: 100px;

  width: 500px;
  left: 50%;
  margin-left: -250px;
  min-height: 300px;
  padding: 20px;

  background: #fff;
}

.fixedModal {
  position: fixed;
  z-index: 10;
  top: 65px;
  right: 0px;
  bottom: 40px;

  width: 500px;
  padding: 20px;

  background: #fff;
  box-shadow: -10px 0px 22px -12px rgba(0,0,0,0.5);
  border: 1px solid #eee;
}
